.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    margin-bottom: 38px;
    @include tablet{
        padding-top: 40px;
        margin-bottom: 50px;
    }
    @include desktop{
        margin-bottom: 80px;
    }
}

.header__logo{
    cursor: pointer;
}

.header__button {
    background-color: var(--headingText);
    color: var(--white);
    &:hover,
    &:focus{
        background-color: var(--blueGrey);
    }
}

