.hero {
    @include tablet{
        display: flex;
        margin-bottom: 80px;
    }
}

.hero__box{
    @include tablet{
        width: 398px;
    }
}

.hero__heading {
    font-weight: 800;
    font-size: 40px;
    color: var(--headingText);
    margin-bottom: 26px;
}

.hero__text {
    font-weight: 500;
    line-height: 1.62;
    margin-bottom: 24px;
}

.hero__button {
    width: 167px;
    height: 56px;
    color: var(--white);
    background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
    margin-bottom: 46px;
    &:hover,
    &:focus {
background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%), rgba(255, 255, 255, 0.5);
    }
}



.hero-image__box {
    max-width: 327px;
    position: relative;
    padding: 24px 37px;
    margin-bottom: 66px;
    margin-left: auto;
    margin-right: auto;
}

.hero-image__box--up {
    border-radius: 10px;
    
        box-shadow: 0px 34px 54px 0px rgba(6, 22, 141, 0.16);
        /* FFFFFF */
        background: rgb(255, 255, 255);
        padding: 16px 20px;
        width: 105px;
        height: 100px;
        position: absolute;
        top: 0;
        right: 0;
}

.hero-image__box--down {
    border-radius: 10px;
    
        box-shadow: 0px 34px 54px 0px rgba(6, 22, 141, 0.16);
        /* FFFFFF */
        background: rgb(255, 255, 255);
        padding: 16px 20px;
        width: 155px;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
}

.hero-image__title {
    color: rgb(131, 134, 154);
        font-family: Plus Jakarta Sans;
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
}

.hero-image__text {
    color: rgb(19, 24, 63);
        font-family: Plus Jakarta Sans;
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
}

